
body {
    background-color: aqua;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.location {
   align-items: center;
   text-align: center;
}

#parent {
    display: flex;
}

#city-info {
    flex: 70%;
}

#search-history {
    flex: 30%;
}


h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 16px;
}

p {
    font-size: 16px;
    color: #666;
}