
body {
    background-color: aqua;
    font-family: Helvetica, sans-serif, Arial;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.location {
   align-items: center;
   text-align: center;
}

#parent {
    display: flex;
}

#city-info {
    flex: 70%;
}

#search-history {
    flex: 30%;
}


h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 16px;
}

p {
    font-size: 16px;
    color: #666;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    width: 50%;
}

.getWeatherButton {
    width: 15%;
}

.enterCity {
    padding: 10px;
}
